---
export async function getStaticPaths() {
  // озвращаем пустой массив - статьи будут доступны как статические файлы
  return [];
}
---

<html>
<head>
    <title>Статья недоступна</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Статья временно недоступна</h1>
    <p>ожалуйста, попробуйте позже.</p>
    <a href="/">ернуться на главную</a>
</body>
</html>